<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>CadastroPessoaFisicas</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>MyServlet</servlet-name>
		<servlet-class>IndexServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyServlet</servlet-name>
		<url-pattern>/Index</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>NovoCadastroServlet</display-name>
		<servlet-name>NovoCadastroServlet</servlet-name>
		<servlet-class>NovoCadastroServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NovoCadastroServlet</servlet-name>
		<url-pattern>/NovoCadastro</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ListarCadastroServlet</display-name>
		<servlet-name>ListarCadastroServlet</servlet-name>
		<servlet-class>ListarCadastroServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListarCadastroServlet</servlet-name>
		<url-pattern>/ListarCadastro</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>EditarCadastro</display-name>
		<servlet-name>EditarCadastro</servlet-name>
		<servlet-class>EditarCadastroServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditarCadastro</servlet-name>
		<url-pattern>/EditarCadastro</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>LoginSevlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
</web-app>


